<div
  class="container bg-light my-5 rounded"
  *ngIf="!loading.show; else loadingTemplate"
>
  <TituloLista
    [titulo]="'Listado de Membresías'"
    [routerLinkAdd]="'membresias-form'"
  >
  </TituloLista>

  <div class="row justify-content-center">
    <div class="col">
      <TableLayout>
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 50px;">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">DURACIÓN</th>
            <th scope="col" style="width: 110px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membresia of membresias; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ membresia.nombre }}</td>
            <td>{{ membresia.duracion }} {{ membresia.tipoDuracion }}</td>
            <TableActions
              [routerLinkEdit]="'ejercicios-form/edit/'"
              [pkParam]="'id'"
              [value]="membresia"
              [callback]="setModal(membresia)"
              [modalTarget]="'modal'"
            ></TableActions>
          </tr>
        </tbody>
      </TableLayout>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmacion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h6>Esta seguro de eliminar la siguiente Membresía?</h6>
          <p>{{ membresiaSeleccionada.nombre }}</p>
          <div class="text-left">
            <h6>Membresía:</h6>
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          data-dismiss="modal"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          data-dismiss="modal"
          (click)="eliminar()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading [config]="loading"></app-loading>
</ng-template>
