<div class="container bg-light my-5">
    <div class="row justify-content-center border border-dark">
        <div class="col-12">
            <h1>REGISTRO DE RUTINAS</h1>
            <form class="my-5">
                <div class=" form-row justify-content-center">
                    <div class="form-group col-lg-7">
                        <label>Cliente* :</label>
                        <input class="w-100" type="text">
                    </div>
                    <div class="form-group col-lg-7">
                        <label>Entrenador* :</label>
                        <input class="w-100" type="text">
                    </div>

                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Día</th>
                                    <th scope="col">Músculo</th>
                                    <th scope="col">Ejercicio</th>
                                    <th scope="col">Series</th>
                                    <th scope="col">Repeticiones</th>
                                    <th scope="col">Descanso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="form-row justify-content-center my-5">
                    <div class="col-md-4">
                        <button class="btn btn-success btn-block ">Guardar</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger btn-block">Cancelar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>